h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 25px;

}
#back {
    display: block;
    text-align: right;
    margin-right: 600px;
    margin-bottom: 20px;
}
.site {
    display: block;
    text-align: center;
}
.drama .title {
    text-align: center;
}
.drama .poster {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.drama .intro {
    text-align: center;
}
.drama {
    background-color:lightgray;
    border-radius: 20px;
    padding: 30px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}