.env-div {
    width: 500px;
    height: 232px;
    /* 임의로 relative로 포지셔닝 */
    position: relative; 
  }
  
  .address {
    font-family: cursive;
    position: absolute;
    left: 30px;
    bottom: 30px;
  }
  
.stamp {
    position: absolute;
    top: 30px;
    right: 30px;
}